@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@900&display=swap');

:root {
    --primary-color: #186380;
    --secondary-color: rgb(240, 144, 36);
    --accent1-color:#570F0F;
    --accent2-color:#D3ECEA;

    --heading-font: Roboto;
    --paragraph-font: Mulish;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--accent2-color)
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create a 2-column grid */
    justify-content: center; /* Center horizontally within the header */
    align-items: center; /* Center vertically within the header */
    background-color: #023047;
    max-width: 100%;
    padding-left: 17.5rem;
    padding-right: 18rem;
}

header img {
    max-width: 100%;
    margin: 0 0 0 -6rem;
}

nav {
    background-color: #FFB703;
    display: flex;
    margin: 1rem 2rem; /* Adjust margin for both top and right to move it slightly to the right */
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #8ECAE6;
}

nav a {
    display: grid;
    padding: 20px;
    transition: color 0.3s;
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
    display: block;
    color: #023047
}
  
a:visited {
    text-decoration: none;
    display: block;
    color: #023047;
}
  
a:hover {
    text-decoration: underline;
    color: white;
    letter-spacing: 2px;
}
  
a:active {
    text-decoration: underline;
    color: var(--primary-color);
}
/* FOOTER */

.footer {
    max-width: 100%;
    padding: 1px;
    margin-top: 3rem; /* Adjust the margin as needed */
    background-color: transparent;
    border: transparent;
    color: #023047;
    margin-top: 2rem ;
}

p.footer {
    position: absolute;
    left: 27%;
    margin: 2rem;
    line-height: 25px;
    letter-spacing: 3.15px;
    z-index: 1;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sociallinks {
    justify-content: right; /* Align the social links to the right */
    padding: 1px;
    max-width: 100%;
    margin: 0;
    border: transparent;
    background-color: #FFB703;
    position: relative;
}

.sociallinks img {
    max-width: 60px; /* Adjust the width of the social media icons as needed */
    height: 60px;
    background-color: transparent;
    margin-left: 10px; /* Add margin to move the icons to the right */
    position: relative;
    margin: 0 0 0 -6rem; /* Adjjust Space between */
}

/* ENDING FOOTER */

h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-align: center;
    margin: 1rem;
}

p {
    font-family: var(--paragraph-font);
    font-weight: 900;
    color: var(--accent1-color);
    text-align: justify;
    margin: 1rem;
    padding: 3px;
    max-width: 100%;
    background-color: gainsboro;
}


/* Jull's White Water Rafting */

.hero div {
    position: relative;
    margin-top: 0;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-top: 1rem;
}

.top {
    position: absolute;
    top: 45%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%); /* Center .top within .hero */
    width: 100%;
}

.top article {
    margin: 3rem;
    padding: 3rem;
    padding-bottom: 1.5rem;
    background-color: rgb(255, 255, 255, 0.9);
    max-width: 100vw;
}

.top article img {
    display: block;
    float: right; /* Float the image to the right */
    margin-right: 0;
    margin-left: 3%;
    max-width: 40vw;
    height: 70vh;
    padding: 0;
}

.top h1 {
    display: flex;
    position: absolute;
    bottom: 116%;
    margin: 5px;
    left: 24%;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    background-color: var(--primary-color);
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    letter-spacing: 2.50px;
}

.top h3 {
    margin-top: 6%;
    margin-bottom: 1%;
    padding: 1px;
    text-align: center; /* Align h3 and p to the left */
    background-color: transparent;
    margin-top: 1px; /* Add margin to create space between h3 and p */
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bolder;
    letter-spacing: 1.18px;
}

.top p {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 3px;
    text-align: justify;
    background-color: transparent;
    margin-top: 1px; /* Add margin to create space between h3 and p */
    line-height: 25px;
    letter-spacing: 1.15px;
}

.mot {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HISTORY SECTION */

.history { /* The whole container */
    color: var(--primary-color);
    text-align: center;
    padding: 1.5rem 0;
    padding-bottom: 0;
    max-width: 100%;
    margin: 3rem;
}

.history p { /* content */

    font-family: var(--paragraph-font);
    font-weight: bold;
    text-align: justify;
    justify-content: center;
    padding: 1rem;
    margin-top: 0.5rem;
    max-width: 100%;
    background-color: transparent;
}

.arrange { /* h2 History */
    margin: 1rem;
    padding: 0.5rem;
    max-width: 100%;
    align-items: center;
    line-height: 25px;
    letter-spacing: 1.15px;
    font-weight: 900;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: transparent
}

.history p {
    line-height: 40px;
    letter-spacing: 1.15px;
    padding-bottom: 0;
}

.arrangetwo { /* h2 Aventure Awaits You */
    margin: 20px 0 0;
    padding: 1.5rem 0;
    max-width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    line-height: 25px;
    letter-spacing: 1.15px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}


/* CSS for the Adventures section */


.adventures-images { /* The Whole Container */
    margin-top: 0;
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 1rem;
    padding-bottom: 5rem;
    gap: 0.5rem;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Start the images from the beginning of the container */
}

.adventures-images figure {
    max-width: 100%;
    text-align: center;
    margin: 0; /* Reset margin to remove any default spacing */
}

.adventures-images img {
    width: 19vw;
    height: 20vh;
    margin: 0;
    padding-top: 1rem;
}

.adventures-images figcaption {
    margin-top: 10px;
    max-width: 100%;
    font-weight: 300;
    letter-spacing: 1.15px;
    color: #570F0F;
    font-family:  "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}





/* WEEK 5 CONTACT US */

.p {
    text-align: center;
    background-color: transparent;
    margin: 1rem;
}

.employee {
    display: flex;
    padding: 1rem;
    background-color: var(--accent2-color);
    gap: 5rem;
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
    margin: 2rem;
    border: 5px solid var(--primary-color);
}

.employee img {
    width: 250px; /* Adjust this value to set the desired width */
    height: 200px;
    padding: 1px;
}

.employee p {
    background-color: transparent;
    text-align: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 5px solid var(--primary-color);
    padding: 0;
    margin: 10px;
    color: var(--accent1-color);
}

#back h2, h1 {
    padding: 1rem;
    margin: 0;
    background-color: #D9F3FC;
}

#back {
    background-color: #FFE2C2;
}

.contact {
    background-color: transparent;
    text-align: center;
}

.map, .loc {
    flex: 1; /* Equal width distribution */
    max-width: 50%; /* Equal width for map and loc */
}

.loc img {
    height: 450px;
}

.map iframe, .loc img {
    width: 100%;
    max-width: 100%;
}

.add {
    text-align: center;
    margin: 1rem;
    color: #570F0F;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}

iframe {
    width: 600px; /* Set the width in pixels or another unit */
    height: 450px; /* Set the height in pixels or another unit */
    border: 0;
}

/* FORM */

body {
    font-family: Arial, sans-serif;
}
.backdesign {
    background-color: #023047;
}

form {
    max-width: 400px;
    margin: auto;
    position: relative;
    padding: 20px;
    border: 30px solid #023047;
    background-color: var(--accent2-color);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    }

input[type="radio"] {
    margin-right: 5px;
}

label.radio-label {
    display: inline;
    font-weight: normal;
}

#newsletter {
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

input[type="Done"]:hover {
    background-color: #45a049;
}