@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@900&display=swap');

:root {
    --primary-color: #186380;
    --secondary-color: #F09024;
    --accent1-color:#570F0F;
    --accent2-color:#D3ECEA;

    --heading-font: Roboto;
    --paragraph-font: Mulish;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color:var(--secondary-color);
    --nav-hover-background-color:var(--accent2-color)
}

/* HEADER */
header {
    padding: 20px;
    background-color: var(--accent2-color);
}

/* TYPOGRAPHY */

#headingfont {
    font-family: Roboto;
}

#normalfont,
#normalfont p {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#calloutfont {
    font-family: Mulish;
}

/* Body */

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

main p {
    font-family: var(--paragraph-font);
}

/* Paragraph */

p {
    padding: 20px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* NAVIGATION */

nav {
    background-color: #FFB703;
    display: flex;
    margin: 1rem 2rem; /* Adjust margin for both top and right to move it slightly to the right */
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    font-size: medium;
    font-weight: 600;
    font-family: Mulish;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #8ECAE6;
}

nav a {
    display: grid;
    padding: 20px;
    transition: color 0.3s;
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
    display: block;
    color: #023047
}
  
a:visited {
    text-decoration: none;
    display: block;
    color: #023047;
}
  
a:hover {
    text-decoration: underline;
    color: white;
    letter-spacing: 2px;
}
  
a:active {
    text-decoration: underline;
    color: var(--primary-color);
}


/* FOOTER */

footer p {
    font-family: Mulish;
}